.start-div {
    text-align: center;
}

.container {
    padding-top: 40px;
}

#option-list, #highscore-list {
    padding: 0px;
}

.view-highscores {
    border-width: 0;
    background-color: white;
    font-weight: bold;
    color: darkblue;
}